.git
.github
.vscode
.idea

**/node_modules
**/.next
**/dist
**/coverage
**/*.tsbuildinfo

**/.env
**/.env.*
.env.docker

docker-build
docs
wait-queue/test
admin-dashboard/README.md

*.log
.DS_Store

