APP_PORT=3000
HOOK_TIMEOUT_MS=10000
CHECK_TASK_DIFF_CRON=0 * * * * *
CRON_TIMEZONE=Asia/Shanghai

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=waitqueue
DB_USER=root
DB_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
